@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    overflow-x: hidden;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FFF8F0;
    gap: 35px;
    position: relative;
    overflow: hidden;
    padding: 20px;
}

.btn-regras {
    position: absolute;
    left: 20px;
    top: 30px;
    text-decoration: none;
    background: #5D9B6A;
    padding: 10px 25px;
    border-radius: 6px;
    color: #FFFFFF;
    cursor: pointer;
}

.containerRegras {
    position: absolute;
    width: 50%;
    background: #5D9B6A;
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
    transform: translateX(-100vw);
    transition: transform 0.6s ease-in-out;
    overflow-y: auto;
    border-radius: 20px;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.containerRegras.ativo {
    transform: translateX(0);
}

.icon {
    color: #FFFFFF;
    font-size: 38px !important;
    cursor: pointer;
}

.containerRegras h1 {
    color: #3D6155;
}

.containerRegras ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.containerRegras ul li {
    color: #FFFFFF;
    font-size: 1.2rem;
}

.container-pontos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    position: absolute;
    right: 5%;
    top: 10%;
    width: 400px;
    height: 300px;
    background: #FFFFFF;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.taca {
    display: flex;
    position: absolute;
    bottom: 13%;
    left: 15%;
    font-size: 5rem;
    transform: translateX(-100vw);
    transition: all 0.4s ease-in-out;
}

.taca.ativo {
    transform: translateX(0);
}

.container-pontos h1 {
    color: #3D6155;
}

.pontos {
    font-size: 5rem;
    font-weight: 400;
    color: #F89C94;
}

.container-pontos img {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
}

.metaBatida {
    position: absolute;
    width: 100%;
    height: 400px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 35px;
    background: #ffe9e6;
    border-radius: 12px;
    gap: 30px;
    transform: translateY(-100vh);
    transition: transform 0.5s ease-in-out;
    z-index: 1000;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.metaBatida h1 {
    color: #5D9B6A;
}

.metaBatida.ativo {
    transform: translateY(0);
}

.meta {
    position: absolute;
    left: 15px;
    top: 15px;
    cursor: pointer;
    color: #F89C94;
}

.logo {
    width: 100px;
    margin-top: 50px;
}

.titulo {
    color: #3D6155;
    font-weight: 600;
}

#meta {
    outline: none;
    border: none;
    width: 300px;
    height: 50px;
    border-radius: 16px;
    padding: 12px;
    background: #5D9B6A;
    color: #FFFFFF;
    font-size: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border: 2px solid transparent;
    transition: all .2s ease-in-out;
}

#meta::placeholder {
    color: #FFFFFF;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#meta:focus {
    border: 3px solid #F89C94;
}

.container-barra {
    width: 300px;
    height: 30px;
    background-color: #ddd;
    border-radius: 20px;
    overflow: hidden;
}

.barra {
    width: 0%;
    height: 100%;
    background: rgb(84, 255, 84);
    transition: width 0.3s ease-in-out;
}

.cont-quantidade {
    width: 300px;
    padding: 30px;
    background: #FFFDF9;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.cont-quantidade p {
    color: #555555;
    font-size: 1.5rem;
    font-weight: 600;
}

.cont-quantidade span {
    color: #5D9B6A;
    font-size: 3rem;
    font-weight: 500;
}

button {
    background: #F89C94;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: none;
    outline: none;
    color: #FFFFFF;
    font-size: 4rem;
    cursor: pointer;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    transition: 0.2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
}

button:hover {
    scale: .9875;
}

.cont-buttons {
    display: flex;
    gap: 15px;
}

.icone {
    width: 80%;
    height: auto;
}

.impressao {
    position: absolute;
    left: 5%;
    top: 15%;
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
}

@media (min-width: 769px) and (max-width:1400px) {
    .containerRegras {
        width: 80%;
    }
}

@media (max-width:768px) {
    .container {
        padding: 20px;
    }

    .logo {
        margin-top: 100px;
    }

    .cont-quantidade {
        width: 95%;
    }

    .containerRegras {
        width: 100%;
        height: 100%;
        border-radius: 0%;
    }

    #meta {
        width: 95%;
    }

    .container-barra {
        width: 100%;
        height: 15px;
    }

    .container-pontos {
        width: 30%;
        height: 150px;
        top: 5%;
    }

    .pontos {
        font-size: 2rem;
    }

    .titulo-pontos {
        font-size: 1rem;
    }

    .taca {
        font-size: 1.5rem;
        bottom: 30%;
    }

    .metaBatida {
        width: 95%;
        height: 70%;
    }
}

@media (min-width:1051px) and (max-width:1250px){
    .container-pontos {
        width: 300px;
    }

    .container-barra {
        width: 90%;
    }
}

@media (min-width:951px) and (max-width:1050px) {
    .container-pontos {
        width: 250px;
    }

    .container-pontos h1 {
        font-size: 2rem;
    }

    .pontos {
        font-size: 2rem;
    }

    .taca {
        font-size: 2.5rem;
    }

    .container-barra {
        width: 90%;
    }
}

@media (min-width:769px) and (max-width:950px) {
    .container-pontos {
        width: 35%;
        height: 250px;
        top: 5%;
    }

    .container-barra {
        width: 90%;
    }
}

@media (max-width:950px) {
    .container-pontos {
        top: 6%;
    }

    .impressao {
        display: none;
    }
}